{{- $routingMode := .Values.global.ingress.routingMode | default "subdomain" }}
{{- $domain := .Values.global.domain | default "localhost" }}
{{- $protocol := ternary "https" "http" .Values.global.ingress.tls }}
{{- $authServerPath := .Values.global.ingress.paths.authServer | default "/auth-server" }}
{{- $keycloakPath := .Values.global.ingress.paths.keycloak | default "/keycloak" }}
{{- $authServerExternalUrl := "" }}
{{- $keycloakExternalUrl := "" }}
{{- $keycloakUrl := printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace}}
{{- $rootPath := "" }}
{{- if eq $routingMode "path" }}
  {{- $authServerExternalUrl = printf "%s://%s%s" $protocol $domain $authServerPath }}
  {{- $keycloakExternalUrl = printf "%s://%s%s" $protocol $domain $keycloakPath }}
  {{- $keycloakUrl = printf "%s%s" $keycloakUrl $keycloakPath }}
  {{- $rootPath = $authServerPath }}
{{- else }}
  {{- $authServerExternalUrl = printf "%s://auth-server.%s" $protocol $domain }}
  {{- $keycloakExternalUrl = printf "%s://keycloak.%s" $protocol $domain }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.envSecretName }}
  namespace: {{ include "common.names.namespace" . | quote }}
data:
  AUTH_PROVIDER: {{ print "keycloak" | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ $authServerExternalUrl | b64enc | quote }}
  KEYCLOAK_ENABLED: {{ .Values.keycloak.enabled | toString | b64enc | quote }}
  KEYCLOAK_EXTERNAL_URL: {{ $keycloakExternalUrl | b64enc | quote }}
  KEYCLOAK_REALM: {{ .Values.keycloak.realm | b64enc | quote }}
  KEYCLOAK_URL: {{ $keycloakUrl | b64enc | quote }}
  REGISTRY_URL: {{ printf "http://registry.%s.svc.cluster.local:8000" .Release.Namespace | b64enc | quote }}
  ROOT_PATH: {{ $rootPath | b64enc | quote }}
  SECRET_KEY: {{ (.Values.global.secretKey | default .Values.app.secretKey) | b64enc | quote }}
  SESSION_COOKIE_SECURE: {{ .Values.app.sessionCookieSecure | toString | b64enc | quote }}
  SESSION_COOKIE_DOMAIN: {{ printf ".%s" $domain | b64enc | quote }}

