{{- $routingMode := .Values.global.ingress.routingMode | default "subdomain" }}
{{- $domain := .Values.global.domain | default "localhost" }}
{{- $protocol := ternary "https" "http" .Values.global.ingress.tls }}
{{- $authServerPath := .Values.global.ingress.paths.authServer | default "/auth-server" }}
{{- $registryPath := .Values.global.ingress.paths.registry | default "/registry" }}
{{- $keycloakPath := .Values.global.ingress.paths.keycloak | default "/keycloak" }}
{{- $authServerExternalUrl := "" }}
{{- $registryExternalUrl := "" }}
{{- $keycloakUrl := printf "http://%s-keycloak-headless.%s.svc.cluster.local:8080" .Release.Name .Release.Namespace}}
{{- $rootPath := "" }}
{{- $gatewayAdditionalServerNames := $domain}}
{{- if eq $routingMode "path" }}
  {{- $authServerExternalUrl = printf "%s://%s%s" $protocol $domain $authServerPath }}
  {{- $registryExternalUrl = printf "%s://%s%s" $protocol $domain $registryPath }}
  {{- $keycloakUrl = printf "%s%s" $keycloakUrl $keycloakPath }}
  {{- $rootPath = $registryPath }}
{{- else }}
  {{- $authServerExternalUrl = printf "%s://auth-server.%s" $protocol $domain }}
  {{- $registryExternalUrl = printf "%s://mcpregistry.%s" $protocol $domain }}
  {{- $gatewayAdditionalServerNames = printf "mcpregistry.%s" $domain }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.envSecretName }}
  namespace: {{ include "common.names.namespace" . | quote }}
data:
  ADMIN_PASSWORD: {{ randAlphaNum 64 | b64enc | quote }}
  AUTH_PROVIDER: {{ print "keycloak" | b64enc | quote }}
  AUTH_SERVER_EXTERNAL_URL: {{ $authServerExternalUrl | b64enc | quote }}
  AUTH_SERVER_URL: {{ printf "http://auth-server.%s.svc.cluster.local:8888" .Release.Namespace | b64enc | quote }}
  KEYCLOAK_URL: {{ $keycloakUrl | b64enc | quote }}
  GATEWAY_ADDITIONAL_SERVER_NAMES: {{ $gatewayAdditionalServerNames| b64enc | quote }}
  ROOT_PATH: {{ $rootPath | b64enc | quote }}
{{- if not .Values.global.sharedSecretName }}
  {{/* SECRET_KEY required for standalone deployment - must match auth-server's key */}}
  SECRET_KEY: {{ required "app.secretKey or global.secretKey is required for standalone deployment" (.Values.global.secretKey | default .Values.app.secretKey) | b64enc | quote }}
{{- end }}
